:root {
  --accent: #7367f0;
  --accent-light: #ce9ffc;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Lato";
  font-size: 1.5rem;
  margin: 0;
  background-image: linear-gradient(
    135deg,
    var(--accent-light) 10%,
    var(--accent) 100%
  );
}
